<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.0/css/pico.min.css">
</head>
<body>
  <h1>Liste des personnages</h1>
  <table>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Équipe</th>
      </tr>
    <body>
      {{#personnages}}
      <tr>
        <td><a href="/personnages/{{id}}">{{nom}}</a></td>
        <td>{{description}}</td>
        <td>{{equipe_nom}}</td>
      </tr>
      {{/personnages}}
    </body>
  </table>
  <a href="/create">Ajouter un personnage</a>
</body>
</html>
