<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.0/css/pico.min.css">
</head>
<body>
  <h1>Détails du personnage</h1>
  <div>
    <h2>{{nom}}</h2>
    <p>{{description}}</p>
    <p>Équipe: {{equipe.nom}}</p>
  </div>
  <a href="/personnages">Retour à la liste des personnages</a>
</body>
</html>
